@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin:auto;
}
.headerContainer {
  background-image: url(/images/Poster.jpg);
  height: 600px;
  max-width: 100vw;
}

.navBarContainer {
  display: flex;
  justify-content: space-between;
}

.navBarContainer div {
  padding: 1rem 5rem;
}
.searchMovie{
  width: 525px;
  background: none;
  border-radius: 6px;
  border: 2px solid var(--gray-300, #D1D5DB);
  color: #fff;
}
.signInDiv {
  display: flex;
  /* align-items: center; */
  align-items: flex-start;
  justify-content: center;
  padding-top: 0;
  gap: 16px;
}
.signIn {
color: #FFF;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
}
.hamburger {
  background: #BE123C;
  border-radius: 50px;
  padding: 0.2rem;
}
.trailerContainer{
  display: flex;
  padding-top: 5rem;
  justify-content: space-between;
}

.trailerContainerDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 5rem;
}

.trailerContainerDiv h1 {
color: #FFF;
font-family: DM Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 56px; 
padding: 1rem 0;
}
.imdbContainer {
  display: flex;
  align-items: center;
}

.imdbContainer h3 {
  color: #FFF;
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 12px; 
padding-right: 2rem;
padding-left: 1rem;
}
.trailerDetails p {
  color: #FFF;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  width: 303px;
}
.watchLaterContainer {
display: flex;
padding: 6px 16px;
align-items: center;
gap: 8px;
border-radius: 6px;
background: var(--rose-700, #BE123C);
width: fit-content;
margin: 0.5rem 0;
}
.watchLaterContainer h2{
color: var(--white, #FFF);
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
text-transform: uppercase;
}
.sideNumbers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
}
.sideNumbers h3{
color: var(--gray-400, #9CA3AF);
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 14px; 
padding: 0.5rem 0;
}
.three {
  position: relative;
  font-size: 20px;
  color: white;
}
.rectangle{
  position: absolute;
  left: -25px;
  bottom: 13px;
width: 20px;
height: 3px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 6px;
background: var(--white, #FFF);
border: 1px solid gray;
}
.featuredMovieContainer {
  padding-top: 3rem;
}
.featuredMovie {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center;
}
.featuredMovie h1 {
  padding-left: 6rem;
  color: #000;
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.featuredMovie h2 {
  padding-right: 4rem;
  color: var(--rose-700, #BE123C);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
}
.movieContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  glex-grow:0;
  padding: 0 1rem;
  padding-left: 2.5rem;
}
.movieContainerItems{
  padding: 1rem 0;
}
.movieContainer img {
  cursor:  pointer;
}
.movieContainer h2 {
  max-width: 250px;
  color: var(--gray-900, #111827);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  padding: 0.5rem 0;
}
.movieContainer h3 {
  max-width: 250px;
  color: gray;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
  padding: 0.5rem 0;
}
.movieDetailsContainer {
display: flex;
justify-content: space-between;
flex-direction: row;
gap: 30px;
width: 100%;
/* padding: 2rem; */
}
.movieDetailsLeft {
  width: 20%;
  border-radius: 0px 45px 45px 0px;
  border: 1px solid rgba(0, 0, 0, 0.30);
  background: #FFF;
  }
.movieDetailsContent{
  width: 80vw;
  height: 100vh;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.movieBox {
  display: flex;
  /* justify-content:center; */
  gap: 10px;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.sideBarNav {
  padding-top: 5rem;
}.sideBarNav div:hover {
  background: rgba(190, 18, 60, 0.10);
  color: #BE123C;
  stroke-width: 6px;
  stroke: #BE123C;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  border-right: #BE123C 2px solid;
}

.sideBarNavDiv {
  padding: 2rem  ;
  display: flex;
  justify-content:center;
  gap: 10px;
  align-items: center;
  color: #666;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
} 
.home {
  padding: 1.5rem ;
  cursor: pointer;
  padding-right: 3.6rem;
  display: flex;
  justify-content:center;
  gap: 10px;
  align-items: center;
  color: #666;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.tv {
  padding: 2rem ;
  padding-right: 2.5rem;
  display: flex;
  justify-content:center;
  gap: 10px;
  align-items: center;
  color: #666;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.movie {
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content:center;
  gap: 10px;
  align-items: center;
  color: #666;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.backdrop {
  border-radius: 20px;
  width: 1000px;
  height: 450px;
}

.startPlaying{
  width: 170px;
  height: 210px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid rgba(190, 18, 60, 0.70);
  background: rgba(248, 231, 235, 0.40);
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.startPlaying h2 {
  color: rgba(51, 51, 51, 0.80);
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 0.5rem 1rem;
}
.startPlaying h3 {
  color: #666;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 0.5rem 1rem;
}
.startPlaying h4 {
  color: #BE123C;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
padding: 0.5rem 1rem;
margin: 0 auto;
width: 112px;
height: 30px;
border-radius: 30px;
background: rgba(190, 18, 60, 0.20);
}
.logOut {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  align-items: center;
}
.logOut h2 {
  color: #666;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.movieItemsContainer {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
}
.movieItems{
color: #000;
font-family: Poppins;
font-size: 23px;
font-style: normal;
font-weight: 1000;
line-height: normal;
}
